html {
  height: 100%;
}

body {
  background: rgb(207, 215, 215);
  font-family: monospace;
  font-size: 20px;
  min-height: 100%;
}

.container {
  height: 100%;
}

.menu {
  list-style: none;
  width: auto;
  display: inline-flex;
}

.menu li {
  padding: 10px;
}

.board-list {
  width: 200px;
  background: #87d5a9;
  border: 1px solid black;
}

.textNote {

}

.textInput {
  width: 100%;
}

.drag-bar {
  background: grey;
}
