html {
  height: 100%;
}

body {
  background: #e1eef6;
  font-family: monospace;
  font-size: 20px;
  min-height: 100%;
}

.container {
  height: 100%;
}

.menu {
  list-style: none;
  width: auto;
  display: inline-flex;
  padding-left: 0px;
}

.menu li {
  color: #004e66;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #004e66;
  border-radius: 5px;
}
/*#ff5f2e*/
.menu li:hover {
  background-color: #d9e1e8;
  cursor: pointer;
}

.board-list {

}

.board-list form {
  margin-left: 10px;
}

.board-list select {
  background: transparent;
  font-size: 20px;
  border: 1px solid #004e66;
  height: 30px;
  width: 210px;
  font-family: inherit;
  font-weight: 600;
  margin-left: 8px;
  padding: 5px 0px;
}

.textNote {
  font-size: 15px;
  width: 200px;
  padding: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2)
}

.textNote p {
  margin-top: 0px;
}

.textNote textarea {
  width: 100%;
  height: 75%;
}

.textNote span {
  display: block;
}

.textNote span {
  opacity: 0;
}

.textNote span:hover {
  opacity: 1;
  cursor: -webkit-grabbing;
}

.textNote:hover {
  cursor: grabbing;
}

.imageNoteEdit {
  width: 200px;
  padding: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2)
}

.imageNoteDisplay {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2)
}

.imageNoteDisplay input {
  width: 100%;
}

.imageNoteDisplay .image-edit {
  opacity: 0;
  margin-top: -35px;
  display: block;
}

.imageNoteDisplay:hover > .image-edit {
  padding-left: 5px;
  opacity: 1;
}

.imageNoteDisplay .drag-bar {
  opacity: 0;
}

/*
.imageNoteDisplay .cursor {
  font-size: 0px;
}

.imageNoteDisplay .cursor:hover {
  font-size: 20px;
}*/

.imageNoteDisplay .drag-bar {
  opacity: 1;
  font-weight: 400;
  height: 13px;
  background: white;
  cursor: -webkit-grabbing;
}

.nonDraggableImage {
  padding: 0px;
  margin: 0px;
  -webkit-user-drag: none;
}

.textInput {
  width: 100%;
}
